*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
}


/* Reset margins, paddings, and borders */
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}


/* Links */
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* Lists */
ol,
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

input::-moz-focus-inner {
    border: 0;
}

/* Forms */
button,
input,
select,
textarea {
    margin: 0;
}

button,
select {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
    text-transform: none;
}

/* Tables */
table {}

th,
td {
    padding: 0;

}
