
body
{
    width: 1280px;
    height: 300px;
    margin: 0 auto;
}


.title
{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #4BCAFF;
    margin-left: 5px;
    margin-top: 63px;
    margin-right: 965px;
}
.title-text-one
{
    color: black;
}
.menu-list
{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 69px;
    background: #35444F;
    margin-top: 40px;
}
.list-item
{
    height: 69px;
    padding: 20px 32px 18px 32px;
    border: 1px solid #FFF;
    border-top: none;
    border-bottom: none;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.list-item:hover
{
    background: #222F3A;
}
.container
{
   display: flex;
}
.menu-sidebar
{
    width: 344px;
    height: 400px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin-top:49px;
    justify-content:space-between;

}
.menu-sidebar-item
{
    height: 81px;
    padding-top: 26px;
    padding-left: 44px;
    color: #485863;
    font-family: Roboto, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.menu-sidebar-item:hover
{
    background: #DBDBDB;
}
.main
{
    width: 885px;
    height: 832px;
    display: flex;
    margin-top: 49px;
    flex-direction: column;
    margin-left: 52px;
    justify-content: space-between;
}
.img
{
    width: 885px;
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;

}
.photo
{
    width: 320px;
    height: 381px;
}
.img:hover .photo
{
    transform: scale(1.1);
}
.photo
{
    transition: transform 0.25s;
}
.text-container
{
    display: flex;
    flex-direction: column;
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 37px;
    padding-bottom: 54px;

}
.text
{
    width: 885px;
    margin-bottom: 10px;

}
.footer
{
    width: 1280px;
    height: 69px;
    background: #63696E7A;
    display: flex;
    justify-content: space-between;


}
.footer-menu
{
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-menu-item
{
    justify-content: space-between;
    color: #0C1927;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 70px;
    padding-left: 25px;
    padding-bottom: 70px;


}
.footer-text
{
    display: flex;
    color: #010101;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-items: center;
    padding-right: 20px;

}
.footer-menu-item:hover
{

    color: #3181A6;
    padding:10px;
    border-bottom: 1px solid #3181A6;
    transform: none;

}



